<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserDao" class="com.duan.dao.UserDaoImpl">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="UserDaomysql" class="com.duan.dao.UserDaoMysql">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="service" class="com.duan.service.UserServiceImpl">
        <property name="userDao" ref="UserDaomysql"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="Dao" class="com.duan.service.UserServiceImpl">
        <property name="userDao" ref="UserDao"/>
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <!-- more bean definitions go here -->

</beans>