<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="add" class="com.duan.pojo.Address">
        <property name="address" value="山东"/>
    </bean>
    <bean id="student" class="com.duan.pojo.Student">
        <property name="name" value="dcf"/>
        <property name="address" ref="add"/>
<!--        数组注入-->
        <property name="books">
                <array>
                    <value>红楼梦</value>
                    <value>三国</value>
                    <value>西游记</value>
                    <value>水浒</value>
                </array>
        </property>
<!--        List注入-->
        <property name="hobbys">
            <list>
                <value>唱歌</value>
                <value>篮球</value>
            </list>
        </property>
<!--        Map-->
        <property name="card">
            <map>
                <entry key="" value=""/>
                <entry key="1" value="card1"/>
                <entry key="2" value="card2"/>
            </map>
        </property>
<!--        set-->
        <property name="games">
            <set>
                <value>lol</value>
                <value>cf</value>
            </set>
        </property>
<!--        null-->
        <property name="wife">
            <null/>
        </property>
<!--        Properties-->
        <property name="info">
            <props>
                <prop key="User">admin</prop>
                <prop key="Password">password</prop>
            </props>
        </property>
    </bean>


</beans>